{
  "openapi": "3.1.0",
  "info": {
    "title": "mybirthday.myx.is API",
    "version": "2026-02-17",
    "description": "Compact OpenAPI spec for the Cloudflare Worker endpoints."
  },
  "servers": [
    {
      "url": "https://mybirthday.myx.is"
    }
  ],
  "components": {
    "securitySchemes": {
      "AdminPassword": {
        "type": "apiKey",
        "in": "header",
        "name": "x-admin-password"
      },
      "OwnerId": {
        "type": "apiKey",
        "in": "header",
        "name": "x-owner-id"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "RsvpRequest": {
        "type": "object",
        "properties": {
          "method": {
            "type": "string",
            "enum": [
              "sms",
              "google"
            ]
          },
          "contact": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "attending": {
            "type": "boolean"
          },
          "partySize": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20
          },
          "plusOne": {
            "type": "string"
          },
          "dietary": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        },
        "required": [
          "method",
          "contact",
          "attending"
        ]
      },
      "QuizAnswerRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "choice": {
            "type": "integer"
          },
          "playerId": {
            "type": "string"
          },
          "playerName": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "choice"
        ]
      },
      "EventCreateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "timezone": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          }
        }
      },
      "PhotoWallItemRequest": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "caption": {
            "type": "string"
          },
          "sourceUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "imageUrl"
        ]
      },
      "PlannerApplyRequest": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "host_add",
              "surprise_help"
            ]
          },
          "applicantName": {
            "type": "string"
          },
          "contact": {
            "type": "string"
          },
          "forGuest": {
            "type": "string"
          },
          "note": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "applicantName",
          "contact",
          "note"
        ]
      },
      "HostingSignupRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "hashtag": {
            "type": "string"
          },
          "instagramHandle": {
            "type": "string"
          },
          "owner": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/api/events/{eventId}/clone": {
      "post": {
        "summary": "Clone event",
        "security": [
          {
            "OwnerId": []
          },
          {
            "AdminPassword": []
          }
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Clone created"
          }
        }
      }
    },
    "/api/events/{slug}/public": {
      "get": {
        "summary": "Get public event",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public event payload"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  }
}
